@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0000ff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 1px solid #fff;
}

.icon {
  font-size: 20px;
}

.logo {
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
  margin: 0;
}

main {
  margin: 30px 20px;
}

tr, td {
  width: 400px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

h3 {
  font-size: 35px;
}

@media (min-width: 768px) {
  header {
    padding: 20px 25px;
  }

  .icon {
    font-size: 25px;
  }

  .logo {
    font-size: 30px;
  }

  main {
    margin: 50px;
  }

  h3 {
    font-size: 50px;
  }

  table {
    display: flex;
  }

  tr, td {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 30px;
  }

}

@media (min-width: 1024px) {
  body {
    background-color: #fff;
  }

  .container {
    background-color: #0000ff;
    margin: 50px;
    padding: 30px;
  }

  header {
    padding: 0 30px;
    padding-bottom: 20px;
  }
}